

/* --------------------------------------------- */

/* Navbar css */

.nav-item{
  margin-right: 20px;
  
}
.btn-Nav{
  margin-left: 15px;
  margin-top: 5px;
  background-color: #ffa500;
  border: none;
  border-radius: 12%;
  
}

.navbar{
  box-shadow: 3px 3px 2px 1px gray;

}

/* landing page  */

.btn-heading{
  background-color: #dd6b20;
  border: none;
  border-radius: 5%;
  height: 65px;
  width: 230px;
  padding: 10px ;
  color: white;
}

.heding-link{
  color: black;
  text-decoration: none;
}

/* landing to ad */

.Rhite-text{
  font-size: 45px;
}

.Rhite-sub-text{
  font-size: 20px;
}

.Ad{
  background-color:  #f2f2f2;
  height: 600px;
}

/* landi page  */

/* login button */


.loginbtn button
{
  background-color: #dd6b20;
  color: aliceblue;
  text-align: center;
}

.loginbtn button:hover
{
  background-color: #dd6b20;
  color: aliceblue;
  


}

.btnloginmodel
{
  background-color: #dd6b20;

}

.forget-container  button

{
  background-color: #dd6b20;
  color: aliceblue;

}

.forget-container  button:hover

{
  background-color: #dd6b20;
  color: aliceblue;

}

.login-form button
{
  background-color: #dd6b20;
  color: aliceblue;
}

.login-form button:hover
{
  background-color: #dd6b20;
  color: aliceblue;
}
.signup-form button
{
  background-color: #dd6b20;
  color: aliceblue;
}
.signup-form button:hover
{
  background-color: #dd6b20;
  color: aliceblue;
}


/* login button */

/* bsicfrom */

.bsicfom
{
  /* max-width: 400px; */
  margin: 50px auto; /* Centers the form horizontally */
  padding: 20px;
  /* background: white; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
 .bascitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5733;
  margin-bottom: 20px;
}
 .bsicfombody {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;


}




.bsicfombody .input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.bsicfombody .submit-button {
  background: #ff5733;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.bsicfombody .submit-button:hover {
  background: #e04e2b;
}



